@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  font-family: 'Dancing Script', cursive;
}
nav{
  color: #ffffff;
  position: absolute;
  z-index: 50;
  display: flex;
}
nav ul a li {
  margin-left: 20px;
}
h1, h2{
  color: white;
}
p{
  color: white;
  font-family: 'Raleway', sans-serif;
}
a h2{
  width: fit-content;
  position: absolute;
  right: 35%;
  top: 60%;
  transform: translate(-50%, -50%);
  color: goldenrod;
  padding: 15px;
  transition: .5s;
  border-radius: 25px;

}
a h2:hover {
  color: #deceaa;
}

.menuBg{
  background-color: #423d33;
}
.itemBg{
  background-color: #2c2822;
}